body{
    font-family: 'Poppins';
    font-size: 18px;
}

/* navbar */


header *{
    color: black;
}


header ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    list-style: none;
    padding: .5em;
    margin: 0;
}

header ul a{
    text-decoration: none;
    list-style: none;
}

header ul li{
    margin: 0 1em;
}

header ul li.logo{
    margin-right: auto;
}


/* Page Wrapper */
/*.pagewrapper{
    min-height: 100vh;
}*/

.pagewrapper .content5{
    padding: 20px;
    margin: 2px;
    height: 650px;
    width: 100%;
    /*border: 2px solid blue;*/
    box-sizing: content-box;
    display: flex;
    background-color: #F6B531;
}

.pagewrapper .content5 .discover{
    padding: 5x;
    margin: 5px;
    height: 600px;
    width: 40%;
    /*border: 2px solid red;*/
    box-sizing: content-box;
    margin-left: 40px;
}

.discover p{
    font-size: 60px;
    margin-left: 40px;
    padding-top: 30px;

}

.discover img{
   align-items: center;
}

#google{
    width: 30%;
    height: auto;
    padding-left: 40px;
}

#appstore{
    width: 50%;
    height: auto;
    padding-bottom: 40px;  
    
}

.pagewrapper .content5 .phone{
    padding: 5x;
    margin: 5px;
    height: 600px;
    width: 55%;
    /*border: 2px solid red;*/
    box-sizing: content-box;
    
}

.phone{
   
    justify-content: left;
}

#mobile1{
    width: 28%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 25px;
}

#mobile2{
    width: 28%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    float: right;
    padding-right: 300px;
    margin-bottom: 5px;
}



/* FOOTER */
.footer{
    background: green;
    height: 400px;
    position: relative;
    bottom: 0;

}

.footer .footer-content{
    height: 350px;
    display: flex;
    /*border: 1px solid red;*/
    background-color: #F7FDF6;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    /*border: 1px solid blue;*/
    margin-bottom: 20px;
}

.footer .footer-content .about h2 span{
    color: gold;
}

.footer .footer-bottom .socials{
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
}



.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
    margin-bottom: 5px;
}


.footer .footer-bottom{
    background: #FFFFFF;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-bottom .copyright{
    float: left;
}
.footer .footer-bottom .copyright{
   align-items: center;
}

.footer .footer-bottom .credit{
    float: right;
}

.footer .footer-bottom .socials a:hover{
    color: gold;
    transition: all .3s;
}





