body{
    font-family: 'Poppins';
    font-size: 18px;
}

/* navbar */


header *{
    color: black;
}


header ul{
    display: flex;
    align-items: center;
    background-color: white;
    list-style: none;
    padding: .5em;
    margin: 0;
}

header ul li{
    margin: 0 1em;
}

header ul li.logo{
    margin-right: auto;
}



/* FOOTER */
.footer{
    background: greens;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    height: 350px;
    display: flex;
    /*border: 1px solid red;*/
    background-color: #F7FDF6;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    /*border: 1px solid blue;*/
}

.footer .footer-content .about h2 span{
    color: gold;
}

.footer .footer-bottom .socials{
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
}


.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}

.footer .footer-bottom{
    background: #FFFFFF;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-bottom .copyright{
    float: left;
}
.footer .footer-bottom .copyright{
   align-items: center;
}

.footer .footer-bottom .credit{
    float: right;
}

.footer .footer-bottom .socials a:hover{
    color: gold;
    transition: all .3s;
}





